*{
    overflow: hidden;
    font-family: 'Fredoka One', cursive;
}



body{

    background-image: url("https://cdn-web.mundogaturro.com/images/home/contents/bg.jpg");
    color: black;
}

.logo{
    margin-left: 10px;
}


main{
    display:  flex;
    margin-bottom: 16px;
    margin-left: 10%;
    margin-top: -35px;
}

.titulo{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 3px 4px 6px #ea6d07;
}

.texto{
    background: none;
    width: 639px; 
    height: 454px;
    color: black;
    margin-top: 20px;
    padding-top: 20px;
    text-transform: lowercase;
    resize: none;
    font-size: 25px;
    border-radius: 24px;
    border-color: white;
}




.texto:focus{
    outline: none;
}


.mensaje{
    width: 325px; 
    height: 472px;
    background: none;
    background-image: url("imagenes/gaturroprueba.png");
    background-repeat: no-repeat;
    border-radius: 24px;
    color: black;
    margin-left: 221px;
    margin-top: 20px;
    padding-left: 20px;
    resize: none;
    border-color: white;
    font-size: 24px;

}
.mensaje:focus{
    outline: none;
}


.botones{
    display: flex;
    margin-top: 18px;
}


.btnencripta{
    background: #f3a100;
    border: 1px solid black;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 289px;
    font-size: 38px;
    text-shadow: 3px 4px 3px #ea6d07;
}

.btndesencripta{
    background-color: rgb(255, 207, 66);
    border: 1px solid black;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 289px;
    font-size: 38px;
    text-shadow: 3px 4px 3px #ea6d07;
}


.btncopiar{
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 18%;
    margin-top: 34px;
    position: absolute;
    width: 269px;
    font-size: 38px;
    text-shadow: 4px 3px 5px black;
    background: #fe2e2e;
    border: 1px solid  black;
}




footer{
    font-style: italic;

}




.creditos{
    text-align: center;
    color: #3375b591;
    font-size: 18px;
    margin-left: 175px;
}
